body {font-family: Arial, Helvetica, sans-serif; font-size: 20px; color: white; background-color: #222222; margin:0; padding:0; text-align: center;}


a {font-size: 20px; font-weight: bold; color:#EBB631; text-decoration: none;}

h1 {color:#FCC742; margin:0}

h2 {color:#daa520; margin:0}
