BODY {
	MARGIN: 0px 2px; COLOR: #000000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; BACKGROUND-COLOR: #ffffff
}
DIV.advertised-site A {
	FONT-WEIGHT: bold; FONT-SIZE: 65%; COLOR: #003399
}
DIV.agencyurl {
	FONT-WEIGHT: bold; FONT-SIZE: 14pt; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.box-title {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #003399
}
DIV.box-title A {
	COLOR: #003399
}
DIV.findit-bar {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.findit-bar A {
	COLOR: #ffffff
}
DIV.footer-address {
	FONT-SIZE: smaller; COLOR: #003399; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.footer-address A {
	FONT-WEIGHT: bold; COLOR: #003399
}
DIV.footer-links {
	FONT-WEIGHT: bold; FONT-SIZE: smaller; COLOR: #003399; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.footer-links A {
	COLOR: #003399
}
DIV.in-focus-text {
	MARGIN-TOP: 2px; FONT-SIZE: 80%; MARGIN-LEFT: 2px; MARGIN-RIGHT: 2px
}
DIV.in-focus-title {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; MARGIN: 2px 2px 5px
}
DIV.menu-header {
	MARGIN-TOP: 15px; FONT-WEIGHT: bold; FONT-SIZE: smaller; MARGIN-BOTTOM: 0px; COLOR: #ffcc00; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.menu-header A {
	COLOR: #ffcc00
}
DIV.search-bar {
	FONT-WEIGHT: bold; FONT-SIZE: smaller; COLOR: #ffffff; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
DIV.search-bar A {
	COLOR: #ffffff
}
DIV.sec-quote {
	FONT-WEIGHT: bold; FONT-SIZE: 80%; COLOR: #003399
}
DIV.sec-quote A {
	COLOR: #003399
}
DIV.stats-label {
	FONT-SIZE: 80%; COLOR: #003399
}
DIV.stats-label A {
	COLOR: #003399
}
DIV.stats-number {
	FONT-SIZE: 80%; COLOR: #990000
}
OL {
	LIST-STYLE-POSITION: outside; MARGIN-BOTTOM: 10px; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
OL {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
P {
	FONT-SIZE: 10pt; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
PRE {
	FONT-FAMILY: monospace
}
TD {
	COLOR: #000000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
TR {
	COLOR: #000000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
UL {
	LIST-STYLE: square url(/images/bullet-red.gif) outside; FONT-SIZE: smaller; MARGIN-BOTTOM: 10px; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; TEXT-ALIGN: left
}
UL.menu-item {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 0px; MARGIN-LEFT: -15px; COLOR: #ffffcc; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; LIST-STYLE-TYPE: square
}
UL.menu-item A {
	COLOR: #ffffcc
}
UL.menu-item-findit {
	MARGIN-TOP: 0px; FONT-SIZE: smaller; MARGIN-BOTTOM: 0px; MARGIN-LEFT: -15px; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; LIST-STYLE-TYPE: square
}
UL.menu-item-findit A {
	COLOR: #003399
}
UL.menu-item-hp {
	FONT-SIZE: smaller; MARGIN-BOTTOM: 0px; MARGIN-LEFT: -15px; COLOR: #ffcc00; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif; LIST-STYLE-TYPE: square
}
UL.menu-item-hp A {
	COLOR: #ffcc00
}
.banner-agency {
	MARGIN-TOP: 2px; FONT-WEIGHT: bold; FONT-SIZE: 12pt; MARGIN-BOTTOM: 10px; COLOR: #003399; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.banner-tagline {
	MARGIN-TOP: 10px; FONT-SIZE: smaller; MARGIN-BOTTOM: 5px; COLOR: #003399; FONT-STYLE: italic; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.banner-tagline-norm {
	MARGIN-TOP: 10px; FONT-SIZE: smaller; MARGIN-BOTTOM: 5px; COLOR: #003399; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.banner-usdol {
	MARGIN-TOP: 8px; FONT-WEIGHT: bold; FONT-SIZE: 16pt; MARGIN-BOTTOM: 5px; COLOR: #003399; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.crumb-date {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.crumb-links {
	FONT-SIZE: 9pt; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.headerbig {
	FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.headermed {
	FONT-WEIGHT: lighter; FONT-SIZE: 15pt; COLOR: #990000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.headersm {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.header-topic {
	FONT-WEIGHT: bold; COLOR: #990000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.item-nested {
	FONT-SIZE: 100%
}
.subheader-topic {
	FONT-WEIGHT: bold; COLOR: #990000; FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.textnorm {
	FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
.textsm {
	FONT-FAMILY: Verdana,Geneva,Arial,Helvetica,sans-serif
}
