/*  GENERAL  */

html {
   margin: 0;
   padding: 0;
}

body {
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #000;
	background-image: url("pics/bg_topo.gif");
	font-family: Arial, Helvetica, sans-serif;
}

body {
	scrollbar-arrow-color: yellow ;
	scrollbar-width: 50px;
	scrollbar-base-color: blue;
	scrollbar-face-color: black;
	scrollbar-highlight-color: black;
	scrollbar-shadow-color: red; 
}


  ul.navbar {
	padding: 2;
    position: absolute;
    top: 100;
    left: 0;
    width: 185;
	font-size: 14px;
	text-align: left;
border-style:double;

}




.bold {FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #CEDFF6; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none}
.offnav {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none}
.offnavsm {FONT-WEIGHT: bold; FONT-SIZE: 9px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none}
A.offnav:hover  { color: #00ffff; }
A.offnavsm:hover        { color: #00ffff; }
.microtext {FONT-SIZE: 1px; COLOR: #ffffff; FONT-FAMILY: Airal, Monotype Corsiva, Helvetica; TEXT-DECORATION: none}

a:link {
   color: #f00;
}
a:visited {
   color: #c00;
}
a:active {
   background: #441;
   color: #c00;
   text-decoration: none;
}


h1 {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #fff;
	background-color: #555;
	font-size: 20px;
	font-variant: caps;
	text-align: center;
	text-transform: uppercase;
	margin: 10;
}


address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}
