/*  GENERAL  */

html {
   margin: 0;
   padding: 0;
}

body {
  /*stuff that goes on all pages*/
	margin: 0;
	padding: 0;
	color: #fff;
	background-color: #000;
	background-attachment:fixed;
	font-family: Arial, Helvetica, sans-serif;
}
.bodymain {
}
.body4x4clubhouse {
	background-image: url("https://googledrive.com/host/0B9NDWBRyqUSvMk4zdHVibUU3S2c/4x4clubhouse/pics/bg_topo.gif");
}



  ul.navbar {
	padding: 2;
    position: absolute;
    top: 100;
    left: 0;
    width: 185;
	font-size: 14px;
	text-align: left;
border-style:double;

}




.bold {FONT-WEIGHT: bold; FONT-SIZE: 18px; COLOR: #CEDFF6; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none}
.offnav {FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ffffff; FONT-FAMILY: Arial, Helvetica; TEXT-DECORATION: none}
.offnavsm {FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #cc0000; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-DECORATION: none}
A.offnav:hover  { color: #00ffff; TEXT-DECORATION: underline}
A.offnavsm:hover { color: #55ff55; TEXT-DECORATION: underline}
.microtext {FONT-SIZE: 1px; COLOR: #ffffff; FONT-FAMILY: Airal, Monotype Corsiva, Helvetica; TEXT-DECORATION: none}
/*
.site {FONT-WEIGHT: bold; FONT-SIZE: 25px; COLOR: #ffffff; FONT-FAMILY: Monotype Corsiva, Helvetica; TEXT-DECORATION: none}
*/

a:hover {color:#00ffff;}

a:link {
   color: #fff;
}
a:visited {
   color: #fff;
}


h1 {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #fff;
	background-color: #555;
	font-size: 22px;
	font-variant: caps;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
}

h2 {
	font-family: Helvetica, Geneva, Arial, sans-serif;
	font-style: italic;
	font-weight: bold;
	color: #fff;
	background-color: #555;
	font-size: 20px;
	font-variant: caps;
	text-align: center;
	text-transform: uppercase;
	margin: 10;
}

address {
    margin-top: 1em;
    padding-top: 1em;
    border-top: thin dotted;
}
